@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 30px;
}
.name-color{
    font-size: 40px;
    font-weight: bold ;
    color: rgb(227, 43, 86);
    font-family: 'Roboto', sans-serif;
}
.first-sec{
    height: 1080px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    width: 100%;
}
.first-left{
    width: 40%;
    float: left;
    margin-left: 250px;
    margin-top: 280px;
    -top: 300px;
   

}
.first-right{
    width: 40%;
    float: left; 
    margin-right: 50px ;  
    padding-top: 100px;
}
.first-img{
    width: 90%;   
}
h1{
    margin-bottom: 60px;
}
.first-dec{
    margin-bottom: 40px;
}
a{
    background-color: rgb(227, 43, 86);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.second-sec{
    height: 1200px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;


}
.second-left{
    width: 40%;
    float: left;
    padding-top: 150px;
}
.second-right{
    width: 40%;
    float: left;


    margin-left: 250px;
    margin-top: 300px;


}
.second-img{
    width: 90%;
    padding-left: 200px;
    
}
.second-dec{
    padding-top: 10px;
    padding-bottom: 50px;
}
.third-sec{
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 100px;
}
.my-work{
    height: 300px;
    width: 80%;
   margin-left: 13%;

  
}
h2 .work-title{
    text-align: center;

    
}
.my-work img{
    width: 30.33%;
    height: 100%;
    float: left;
    align-items: center;
    align-content: center;
    padding-right: 25px;
}
.work{
    text-align: center;
}
.fourth-sec{

    background-size: cover;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    text-align: center;
    margin-top: 150px;
}
.client h3{
    font-size: 20px;
    line-height: 0px;
    margin-top: 100px;
}
.client p{
    font-size: small;
    margin-bottom: 50px;
}
.client-say{
    margin-bottom: 80px;
}
.gmail{

    background-color: rgb(227, 43, 86);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: 50%;
    margin: auto;

}
.gmail p{
    font-size: small;
}
.gmail h3{
    font-size: 30px;
}
.img-thumbnail{
    border: none;
    background-color: transparent;
}